{% extends '../layout.html' %}

{% block content %}
    <h2>
        Client de Categorie : 
        <span style="color: {{type.color}}">
            {{ type.name }}
        </span>
    </h2>
    {% for a in pokemons %}
        <div class="card" style="margin-bottom: 2%;">
            <div class="card-header">
                <a href="/{{a._id}}"> {{ a.name }} </a>
            </div>
            <div class="card-body">
                {{ a.description }}
            </div>
        </div>
    {% endfor %}
{% endblock %}